
div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 50px;
}
button{
    background-color: green;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 20px;
    font-size: 1.5em;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(3, 178, 3);
    transition: 0.3s ease-in-out;
}